{% extends "base.html.twig" %}

{% block title %}
	Liste des articles
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-4 js-filter">
		<h1 class="text-center mb-4">Découvrez nos articles</h1>
		<div class="row">
			<div class="col-md-3">
				{% include 'Components/_filter.html.twig' with {form: form} only %}
			</div>
			<div class="col-md-9">
				<div class="blog-list">
					{% include 'Components/_articles.html.twig' %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
