{% extends "base.html.twig" %}

{% block title %}
	{{ article.title }}
	{{ parent() }}
{% endblock %}

{% block body %}
	{% include 'Frontend/Article/_banner.html.twig' %}

	<section class="container mt-4 article">
		<div class="article-main-content">
			{% include 'Frontend/Article/_sidebar.html.twig' %}
			{% include 'Frontend/Article/_content.html.twig' %}
		</div>
	</section>
{% endblock %}
