<form method="post" action="{{ path('admin.categorie.delete', {'id': categorie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
	<button class="btn btn-danger">
		<i class="bi bi-trash3"></i>
		Supprimer
	</button>
</form>
