{% extends 'base.html.twig' %}

{% block title %}Edit Categorie
{% endblock %}

{% block body %}
	<section class="container mt-4">
		<div class="card p-3 w-75 mx-auto">
			<h1 class="text-center">Modifier une catégorie</h1>

			{{ include('Backend/Categorie/_form.html.twig', {'button_label': 'Modifier'}) }}

			<div class="d-flex gap-4">
				<a href="{{ path('admin.categorie.index') }}" class="btn btn-warning">Retour à la liste</a>
				{{ include('Backend/Categorie/_delete_form.html.twig') }}
			</div>
		</div>
	</section>
{% endblock %}
